Flask
pyTelegramBotAPI
edge-tts
aiohttp
python-dotenv
requests
gunicorn
typing-extensions
requests
pyTelegramBotAPI
Flask
pymongo
yt-dlp
imageio-ffmpeg
SpeechRecognition
pydub
aiogram
pytesseract
requests
Flask
Pillow
pytesseract
PyPDF2
gunicorn
itsdangerous
pydub
SpeechRecognition
imageio-ffmpeg
python-telegram-bot
pocketsphinx
pymongo
itsdangerous
